* {
  font-family: 'Crimson Text', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-height: 100vh; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  min-height: 100vh;
  font-size: 18px;
  box-shadow: 0 0 15px black; }
  header h1 {
    padding: 2rem;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Quicksand", serif;
    font-weight: 300;
    font-size: 48px; }
  header section {
    padding: 1rem;
    overflow-y: auto;
    display: inline-block; }

p, h2 {
  margin: 24px 0; }

p {
  text-align: justify; }

p.clear {
  margin-left: 100px; }

figure.example {
  border: 1px solid black;
  max-width: 120px;
  float: left;
  margin: 0 1rem 1rem 0;
  clear: both; }
  figure.example figcaption {
    text-align: center;
    font-style: italic;
    margin: 12px; }

div.miniboard {
  background-color: #DDD;
  font-size: 0;
  max-width: 72px;
  margin: 12px auto; }
  div.miniboard > div.row {
    font-size: 0;
    display: block; }
    div.miniboard > div.row > div {
      height: 24px;
      width: 24px;
      background-size: cover;
      display: inline-block;
      border: 1px solid black; }
  div.miniboard div.bomb {
    background-image: url("../images/bomb.png"); }
  div.miniboard div.flag {
    background-image: url("../images/flagged.png"); }
  div.miniboard div.blank {
    background-image: url("../images/uncovered.png"); }
  div.miniboard div.explodedbomb {
    background-image: url("../images/explodedbomb.png"); }
  div.miniboard div.adj0 {
    background-image: url("../images/adj0.png"); }
  div.miniboard div.adj1 {
    background-image: url("../images/adj1.png"); }
  div.miniboard div.adj2 {
    background-image: url("../images/adj2.png"); }
  div.miniboard div.adj3 {
    background-image: url("../images/adj3.png"); }
  div.miniboard div.adj4 {
    background-image: url("../images/adj4.png"); }
  div.miniboard div.adj5 {
    background-image: url("../images/adj5.png"); }
  div.miniboard div.adj6 {
    background-image: url("../images/adj6.png"); }
  div.miniboard div.adj7 {
    background-image: url("../images/adj7.png"); }
  div.miniboard div.adj8 {
    background-image: url("../images/adj8.png"); }

body, html, div {
  font-family: 'Verdana';
  margin: 0;
  padding: 0; }

button {
  border: 0;
  padding: 1rem;
  outline: none;
  background-color: #DDD; }

main {
  min-height: 100vh;
  position: absolute;
  left: 500px;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

div.field {
  background-image: url("../images/ivan-dimitroff-118653.jpg");
  background-size: cover;
  border-radius: 1rem; }

div#board {
  /*background-color: #999;*/
  display: inline-block;
  border-radius: 1rem;
  padding: 0;
  border: 1rem solid #CCC; }

div#board.lost {
  padding: 0;
  border: 1rem solid #C00;
  transition: 250ms; }

div#board.won {
  border-width: 0;
  border: 1rem solid #0C0;
  transition: 250ms; }

div#board div {
  font-size: 0; }

div#board button {
  height: 1.5rem;
  width: 1.5rem;
  background-size: cover;
  outline: none;
  margin: 0;
  background-color: transparent;
  background-image: url("../images/uncovered.png"); }

div#controls {
  width: 400px; }

div#controls > div {
  padding-top: 1rem; }

div#controls button {
  border-radius: 0.5rem;
  margin: 0.25rem;
  font-weight: 700;
  font-size: 1rem; }

div#controls div.game, div#controls div.quick {
  display: flex; }

div#controls div.quick button {
  flex: 1 0 auto;
  padding: 1rem;
  font-size: 1rem; }

div#controls button:hover {
  background-color: #EEE; }

div#controls button:active {
  background-color: #FFF; }

div#controls div#error {
  color: red; }

div#controls button#newgame {
  padding: 1rem;
  width: 400px; }

div#controls div.inputs div {
  display: flex;
  padding: 0.25rem 4rem; }

div.inputs div label {
  flex: 0 1 25%;
  text-align: right; }

div.inputs div input {
  flex: 0 1 75%;
  max-width: 50%;
  padding: 0.25rem;
  font-size: 1.25rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: #CCC;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
