* {
  // font-family: 'Crimson Text', sans-serif;
  font-family: 'Oxygen', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
}

header {
  font-size: 18px;

  h1 {
    padding: 2rem;

    background-color: black;
    color: white;
    text-align: center;

    font-family: "Quicksand", serif;
    font-weight: 300;
    font-size: 48px;
  }

}

header, div#controls {
  box-shadow: 0 0 15px black;
}

button {
  border: 0;
  padding: 1;
  outline: none;
  background-color: #DDD;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

div.field {
  background-image: url('../images/ivan-dimitroff-118653.jpg');
  background-size: cover;
  border-radius: 1rem;
}

div#board {
  display: inline-block;
  border-radius: 1rem;
  padding: 0;
  border: 1rem solid #CCC;
}

div#board.lost {
  padding: 0;
  border: 1rem solid #C00;
  transition: 250ms;
}

div#board.won {
  border-width: 0;
  border: 1rem solid #0C0;
  transition: 250ms;
}

div#board div {
  font-size: 0rem;
}

div#board button {
  height: 2rem;
  width: 2rem;
  background-size: cover;
  outline: none;
  margin: 0;

  background-color: rgba(0,0,0,0);
  background-image: url('../images/uncovered.png');
}

div#board {
  button.adj0 { background-image: url('../images/adj0.png'); }
  button.adj1 { background-image: url('../images/adj1.png'); }
  button.adj2 { background-image: url('../images/adj2.png'); }
  button.adj3 { background-image: url('../images/adj3.png'); }
  button.adj4 { background-image: url('../images/adj4.png'); }
  button.adj5 { background-image: url('../images/adj5.png'); }
  button.adj6 { background-image: url('../images/adj6.png'); }
  button.adj7 { background-image: url('../images/adj7.png'); }
  button.adj8 { background-image: url('../images/adj8.png'); }

  button.exploded { background-image: url('../images/explodedbomb.png'); }
  button.bomb { background-image: url('../images/bomb.png'); }
  button.flagged { background-image: url('../images/flagged.png'); }
  button.uncovered { background-image: url('../images/uncovered.png'); }

}

div#controls {
  padding: 0.5rem 0;
  background-color: black;
  text-align: center;
}

div#controls > div {
  margin: 0.5rem 0;
}

div#controls button {
  border-radius: 0.5rem;
  margin: 0 0.25rem;
  padding: 0.5rem;
  min-width: 8rem;
  font-size: 1rem;

  color: white;

  background: #3f3f3f; /* Old browsers */
  
  border: 2px solid #3f3f3f;
}

div#controls button:disabled {
  background: black;
  color: #3f3f3f;
}

div#controls label {
  font-size: 1.25rem;
  color: white;
}

div#controls button.active {
  background: #555;
  border: 2px solid #888;
}

div#controls button:hover {
  background: #6f00aa; /* Old browsers */
  background: -moz-linear-gradient(top, #6f00aa 0%, #0b008e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6f00aa 0%,#0b008e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6f00aa 0%,#0b008e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f00aa', endColorstr='#0b008e',GradientType=0 ); /* IE6-9 */

  border: 2px solid #6f00aa;
}


div#controls button:disabled:hover {
  background: black;
  border: 2px solid #3f3f3f;
}


div#controls button:active {
  background: #0b008e; /* Old browsers */
  background: -moz-linear-gradient(top, #0b008e 0%, #6f00aa 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0b008e 0%,#6f00aa 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0b008e 0%,#6f00aa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b008e', endColorstr='#6f00aa',GradientType=0 ); /* IE6-9 */
}

div#controls div#error {
  color: red;
}

div.inputs input {
  margin-right: 2rem;
  margin-left: 1rem;
  font-size: 1.25rem;
}
//
// div#controls button#newgame {
//   padding: 1rem;
//   width: 400px;
// }
//
// div#controls div.inputs div {
//   display: flex;
//   padding: 0.25rem 4rem;
// }
//
// div.inputs div label {
//   flex: 0 1 25%;
//   text-align: right;
// }
//
div.inputs input {
  flex: 0 1 75%;
  min-width: 4rem;
  max-width: 4rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: #CCC;
  text-align: center;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f3f3f+0,000000+100 */
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #3f3f3f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%,#3f3f3f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%,#3f3f3f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3f3f3f',GradientType=0 ); /* IE6-9 */

  border: 2px solid #3f3f3f;
  color: white;
}

article {
  max-width: 700px;
  margin: 0 auto;
}

p, h2 {
  margin: 24px 0;
}

p {
  text-align: justify;
}

p.clear {
  margin-left: 100px;
}

figure.example {
  // float: left;
  // margin: 0 1rem 1rem 0;
  border: 1px solid black;

  max-width: 120px;

  figcaption {
    text-align: center;
    font-style: italic;
    margin: 12px;
  }

  float: left;
  margin: 0 1rem 1rem 0;

  clear: both;
}

div.miniboard {
  background-color: #DDD;
  font-size: 0;
  max-width: 72px;
  margin: 12px auto;

  > div.row {
    font-size: 0;
    display: block;

    > div {
      height: 24px;
      width: 24px;
      background-size: cover;
      display: inline-block;
      border: 1px solid black;
    }
  }

  div.bomb { background-image: url('../images/bomb.png'); }
  div.flag { background-image: url('../images/flagged.png'); }
  div.blank { background-image: url('../images/uncovered.png'); }
  div.explodedbomb { background-image: url('../images/explodedbomb.png'); }
  div.adj0 { background-image: url('../images/adj0.png'); }
  div.adj1 { background-image: url('../images/adj1.png'); }
  div.adj2 { background-image: url('../images/adj2.png'); }
  div.adj3 { background-image: url('../images/adj3.png'); }
  div.adj4 { background-image: url('../images/adj4.png'); }
  div.adj5 { background-image: url('../images/adj5.png'); }
  div.adj6 { background-image: url('../images/adj6.png'); }
  div.adj7 { background-image: url('../images/adj7.png'); }
  div.adj8 { background-image: url('../images/adj8.png'); }
}
