body, html, div {
  font-family: 'Verdana';
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  padding: 1rem;
  outline: none;
  background-color: #DDD;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

div#board {
  padding: 1rem;
  background-color: #DDD;
  display: inline-block;
  border-radius: 1rem;
}

div#board.lost {
  background-color: red;
}

div#board.won {
  background-color: green;
}

div#board div {
  font-size: 0;
}

div#board button {
  height: 1.5rem;
  width: 1.5rem;
  background-size: cover;
  outline: none;
  margin: 0;

  background-image: url('http://i.imgur.com/HM1e3Tbb.jpg');
  /*background-image: url('./blank.jpg');*/
}

div#board button:active {
  background-image: url('http://i.imgur.com/bGT8xGEb.jpg');
  /*background-image: url('./pressed.jpg');*/
}

div#controls {
  width: 400px;
}

div#controls > div {
  padding-top: 1rem;
}

div#controls button {
  border-radius: 0.5rem;
  margin: 0.25rem;
  font-weight: 700;
  font-size: 1rem;
}

div#controls div.game, div#controls div.quick {
  display: flex;
}

div#controls div.quick button {
  flex: 1 0 auto;
  padding: 1rem;
  font-size: 1rem;
}

div#controls button:hover {
  background-color: #EEE;
}

div#controls button:active {
  background-color: #FFF;
}

div#controls div#error {
  color: red;
}

div#controls button#newgame {
  padding: 1rem;
  width: 400px;
}

div#controls div.inputs div {
  display: flex;
  padding: 0.25rem 4rem;
}

div.inputs div label {
  flex: 0 1 25%;
  text-align: right;
}

div.inputs div input {
  flex: 0 1 75%;
  max-width: 50%;
  padding: 0.25rem;
  font-size: 1.25rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: #CCC;
  text-align: center;
}
